<template>
  <ul class="flex flex-col lg:flex-row gap-x-10 mb-2 px-1">
    <li>
      <router-link
        to="/account"
        class="text-gray-500 font-semibold pb-2"
        active-class="border-b-[3px] border-cyan-500 !text-blue-700"
      >
        <span class="px-3">
          {{ $t("application.account") }}
        </span>
      </router-link>
    </li>
    <li>
      <router-link class="text-gray-500 font-semibold pb-2" to="#">
        <span class="px-3">
          {{ $t("components.dashboardNavbar.settings") }}
        </span>
      </router-link>
    </li>
    <li>
      <router-link class="text-gray-500 font-semibold pb-2" to="#">
        <span class="px-3">
          {{ $t("components.dashboardNavbar.userManagement") }}
        </span>
      </router-link>
    </li>
    <li>
      <router-link class="text-gray-500 font-semibold pb-2" to="#">
        <span class="px-3">
          {{ $t("components.dashboardNavbar.whiteLabel") }}
        </span>
      </router-link>
    </li>
    <li>
      <router-link class="text-gray-500 font-semibold pb-2" to="#">
        <span class="px-3">
          {{ $t("components.dashboardNavbar.apiKeys") }}
        </span>
      </router-link>
    </li>
    <li>
      <router-link class="text-gray-500 font-semibold pb-2" to="#">
        <span class="px-3">
          {{ $t("components.dashboardNavbar.billing") }}
        </span>
      </router-link>
    </li>
  </ul>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "DashboardNavbarList",
});
</script>
