<template>
  <div class="shadow-inner bg-white border-b-2">
    <div class="container mx-auto">
      <div class="flex items-center py-10">
        <h1 class="mr-4 px-1 text-5xl font-black">{{ company }}</h1>
        <router-link to="#" class="text-sm font-bold">
          {{ $t("components.dashboardNavbar.edit") }}
          <font-awesome-icon icon="fa-regular fa-edit" />
        </router-link>
      </div>
      <DashboardNavbarList />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import DashboardNavbarList from "./DashboardNavbarList.vue";

export default Vue.extend({
  name: "DashboardNavbar",
  components: {
    DashboardNavbarList,
  },
  props: {
    company: {
      type: String,
      default: "",
    },
  },
});
</script>
