<template>
  <nav
    class="flex flex-wrap items-center justify-between mb-1 p-6 shadow-md bg-white text-cyan-500"
  >
    <div>
      <img src="@/assets/svg/logo.svg" width="200" />
    </div>
    <div>
      <button class="mx-3" type="button">
        <font-awesome-icon icon="fa-regular fa-bell" size="lg" />
      </button>
      <button class="mx-3" type="button">
        <font-awesome-icon icon="fa-regular fa-circle-question" size="lg" />
      </button>
      <button class="mx-3" type="button">
        <font-awesome-icon class="mr-2" icon="fa-regular fa-user" size="lg" />
        <b class="text-blue-700">
          {{ $t("application.account") }}
        </b>
      </button>
      <LocaleSwitcher />
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from "vue";
import LocaleSwitcher from "@/components/base/LocaleSwitcher";

export default Vue.extend({
  name: "TheToolbar",
  components: {
    LocaleSwitcher,
  },
});
</script>
