@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;700;900&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    background: #f7f7f7;
    color: #172a49;
}

a {
    color: #47bdef;
    font-weight: 600;
}
