<template>
  <div>
    <DashboardNavbar :company="user.company" />
    <div class="container mx-auto my-10">
      <div class="flex flex-wrap gap-4">
        <!-- Left layout -->
        <div
          class="basis-full lg:basis-2/5 bg-white border rounded-md shadow-md p-6"
        >
          <h2 class="text-2xl font-bold mb-4">
            {{ $t("pages.account.informationHeader") }}
          </h2>
          <div class="grid grid-cols-3 gap-2 font-bold mb-12">
            <div class="text-center border-2 rounded p-4 leading-8">
              <p class="uppercase text-gray-400 text-xs">
                {{ $t("pages.account.customerId") }}
              </p>
              <p class="text-lg">
                {{ user.id }}
              </p>
            </div>
            <div class="text-center border-2 rounded p-4 leading-8">
              <p class="uppercase text-gray-400 text-xs">
                {{ $t("pages.account.signupDate") }}
              </p>
              <p class="text-lg">
                {{ user.signupdate }}
              </p>
            </div>
            <div class="text-center border-2 rounded p-4 leading-8">
              <p class="uppercase text-gray-400 text-xs">
                {{ $t("application.account") }}
              </p>
              <p class="text-lg">
                {{ user.type }}
              </p>
            </div>
            <div class="col-span-full border-2 rounded p-4">
              <div class="flex flex-wrap justify-between leading-8">
                <div>
                  <p class="uppercase text-gray-400 text-xs">
                    {{ $t("pages.account.loginEmail") }}
                  </p>
                  <p class="text-lg">
                    {{ user.email }}
                  </p>
                </div>
                <div class="text-right">
                  <p>
                    <router-link to="#">
                      {{ $t("pages.account.password") }}
                    </router-link>
                  </p>
                  <p>
                    <router-link to="#">
                      {{ $t("pages.account.changeEmail") }}
                    </router-link>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-12">
            <h2 class="text-2xl font-bold">
              {{ $t("pages.account.primaryContactHeader") }}
            </h2>
            <p>
              {{ $t("pages.account.primaryContactText") }}
            </p>
          </div>
          <ValidationObserver
            v-slot="{ handleSubmit }"
            tag="form"
            @submit.prevent="handleSubmit"
          >
            <ValidationProvider
              v-slot="{ errors }"
              name="firstname"
              rules="required"
              tag="div"
              class="relative mb-4"
            >
              <label
                class="absolute left-2 -top-2 bg-white text-gray-400 text-xs font-bold px-2"
                for="firstname"
              >
                {{ $t("pages.account.firstName") }}
              </label>
              <input
                v-model="user.firstname"
                id="firstname"
                class="w-full bg-white border-2 rounded-md p-2"
                type="text"
              />
              <span v-if="errors[0]" class="text-red-500">
                {{ errors[0] }}
              </span>
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="lastname"
              rules="required"
              tag="div"
              class="relative mb-4"
            >
              <label
                class="absolute left-2 -top-2 bg-white text-gray-400 text-xs font-bold px-2"
                for="lastname"
              >
                {{ $t("pages.account.lastName") }}
              </label>
              <input
                v-model="user.lastname"
                id="lastname"
                class="w-full bg-white border-2 rounded-md p-2"
                type="text"
              />
              <span v-if="errors[0]" class="text-red-500">
                {{ errors[0] }}
              </span>
            </ValidationProvider>
            <!-- This allows only + at the beginning; it requires 3 digits; followed by an optional dash; followed by 6-12 more digits -->
            <ValidationProvider
              v-slot="{ errors }"
              name="phonenumber"
              :rules="{
                regex: /^\+?[0-9]{3}-?[0-9]{6,12}$/,
              }"
              tag="div"
              class="relative mb-4"
            >
              <label
                class="absolute left-2 -top-2 bg-white text-gray-400 text-xs font-bold px-2"
                for="phonenumber"
              >
                {{ $t("pages.account.phoneNumber") }}
              </label>
              <input
                v-model="user.phonenumber"
                id="phonenumber"
                class="w-full border-2 rounded-md p-2"
                type="text"
              />
              <span v-if="errors[0]" class="text-red-500">
                {{ errors[0] }}
              </span>
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="company"
              rules="required"
              tag="div"
              class="relative mb-4"
            >
              <label
                class="absolute left-2 -top-2 bg-white text-gray-400 text-xs font-bold px-2"
                for="company"
              >
                {{ $t("pages.account.company") }}
              </label>
              <input
                v-model="user.company"
                id="company"
                class="w-full bg-white border-2 rounded-md p-2"
                type="text"
              />
              <span v-if="errors[0]" class="text-red-500">
                {{ errors[0] }}
              </span>
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="street"
              rules="required"
              tag="div"
              class="relative mb-4"
            >
              <label
                class="absolute left-2 -top-2 bg-white text-gray-400 text-xs font-bold px-2"
                for="street"
              >
                {{ $t("pages.account.street") }}
              </label>
              <input
                v-model="user.street"
                id="street"
                class="w-full bg-white border-2 rounded-md p-2"
                type="text"
              />
              <span v-if="errors[0]" class="text-red-500">
                {{ errors[0] }}
              </span>
            </ValidationProvider>
            <div class="flex gap-4">
              <ValidationProvider
                v-slot="{ errors }"
                name="city"
                rules="required"
                tag="div"
                class="relative flex-1 mb-4"
              >
                <label
                  class="absolute left-2 -top-2 bg-white text-gray-400 text-xs font-bold px-2"
                  for="city"
                >
                  {{ $t("pages.account.city") }}
                </label>
                <input
                  v-model="user.city"
                  id="city"
                  class="w-full bg-white border-2 rounded-md p-2"
                  type="text"
                />
                <span v-if="errors[0]" class="text-red-500">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
              <ValidationProvider
                v-slot="{ errors }"
                name="zipcode"
                rules="required|numeric"
                tag="div"
                class="relative basis-2/5 mb-4"
              >
                <label
                  class="absolute left-2 -top-2 bg-white text-gray-400 text-xs font-bold px-2"
                  for="zipcode"
                >
                  {{ $t("pages.account.zipCode") }}
                </label>
                <input
                  v-model="user.zipcode"
                  id="zipcode"
                  class="w-full bg-white border-2 rounded-md p-2"
                  type="text"
                />
                <span v-if="errors[0]" class="text-red-500">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>
            <ValidationProvider
              v-slot="{ errors }"
              name="country"
              rules="required"
              tag="div"
              class="relative mb-4"
            >
              <label
                class="absolute left-2 -top-2 bg-white text-gray-400 text-xs font-bold px-2"
                for="country"
              >
                {{ $t("pages.account.country") }}
              </label>
              <select
                v-model="user.country"
                id="country"
                class="w-full bg-white border-2 rounded-md p-2"
              >
                <option value="1">Germany</option>
                <option value="2">Romania</option>
              </select>
              <span v-if="errors[0]" class="text-red-500">
                {{ errors[0] }}
              </span>
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="website"
              tag="div"
              class="relative mb-4"
            >
              <label
                class="absolute left-2 -top-2 bg-white text-gray-400 text-xs font-bold px-2"
                for="website"
              >
                {{ $t("pages.account.website") }}
              </label>
              <input
                v-model="user.website"
                id="website"
                class="w-full bg-white border-2 rounded-md p-2"
                placeholder="www.your-website.com"
                type="text"
              />
              <span v-if="errors[0]" class="text-red-500">
                {{ errors[0] }}
              </span>
            </ValidationProvider>
            <div class="text-right">
              <button
                class="bg-cyan-500 uppercase text-white rounded-2xl font-bold px-4 py-1"
                :disabled="loading"
                @click="handleSubmit(submit)"
              >
                {{ $t("pages.account.save") }}
              </button>
            </div>
          </ValidationObserver>
        </div>
        <!-- End Left layout -->
        <!-- Right layout -->
        <div class="flex-1 p-6">
          <h2 class="text-2xl font-bold mb-4">
            {{ $t("pages.account.usageHeader") }}
          </h2>
          <div class="flex flex-wrap gap-6 text-center mb-24">
            <div class="relative flex-1 border-2 rounded p-4 leading-7">
              <p class="uppercase text-gray-400 text-xs font-bold">
                {{ $t("pages.account.scans") }}
              </p>
              <p class="text-3xl font-bold">3614408</p>
              <p class="italic text-gray-400">
                {{ $t("pages.account.unlimited") }}
              </p>
              <button
                type="button"
                class="absolute -bottom-2.5 left-2/4 -translate-x-1/2 rounded-xl bg-cyan-500 uppercase text-white text-sm shadow px-3 whitespace-nowrap"
              >
                {{ $t("pages.account.upgrade") }}
              </button>
            </div>
            <div class="relative flex-1 border-2 rounded p-4 leading-7">
              <p class="uppercase text-gray-400 text-xs font-bold">
                {{ $t("pages.account.dynamicCodes") }}
              </p>
              <p class="text-3xl font-bold">587</p>
              <p class="italic text-gray-400">25000</p>
              <button
                type="button"
                class="absolute -bottom-2.5 left-2/4 -translate-x-1/2 rounded-xl bg-cyan-500 uppercase text-white text-sm shadow px-3 whitespace-nowrap"
              >
                {{ $t("pages.account.upgrade") }}
              </button>
            </div>
            <div class="relative flex-1 border-2 rounded p-4 leading-7">
              <p class="uppercase text-gray-400 text-xs font-bold">
                {{ $t("pages.account.staticCodes") }}
              </p>
              <p class="text-3xl font-bold">49</p>
              <p class="italic text-gray-400">25000</p>
              <button
                type="button"
                class="absolute -bottom-2.5 left-2/4 -translate-x-1/2 rounded-xl bg-cyan-500 uppercase text-white text-sm shadow px-3 whitespace-nowrap"
              >
                {{ $t("pages.account.upgrade") }}
              </button>
            </div>
            <div class="relative flex-1 border-2 rounded p-4 leading-7">
              <p class="uppercase text-gray-400 text-xs font-bold">
                {{ $t("pages.account.users") }}
              </p>
              <p class="text-3xl font-bold">1</p>
              <p class="italic text-gray-400">6</p>
              <button
                type="button"
                class="absolute -bottom-2.5 left-2/4 -translate-x-1/2 rounded-xl bg-cyan-500 uppercase text-white text-sm shadow px-3 whitespace-nowrap"
              >
                {{ $t("pages.account.add") }}
              </button>
            </div>
          </div>
          <div class="mb-6">
            <h2 class="text-2xl font-bold">
              {{ $t("pages.account.whoAreYouHeader") }}
            </h2>
            <p>
              {{ $t("pages.account.whoAreYouHeaderText") }}
            </p>
          </div>
          <div class="flex flex-wrap gap-6">
            <router-link
              to="#"
              class="flex-1 bg-white text-center rounded-lg shadow-md p-4 leading-12"
            >
              <font-awesome-icon icon="fa-regular fa-folder-open" size="2xl" />
              <p class="uppercase text-blue-700 text-sm">
                {{ $t("pages.account.business") }}
              </p>
            </router-link>
            <router-link
              to="#"
              class="flex-1 bg-white text-center rounded-lg shadow-md p-4 leading-12"
            >
              <font-awesome-icon icon="fa-regular fa-building" size="2xl" />
              <p class="uppercase text-blue-700 text-sm">
                {{ $t("pages.account.agency") }}
              </p>
            </router-link>
            <router-link
              to="#"
              class="flex-1 bg-white text-center rounded-lg shadow-md p-4 leading-12"
            >
              <font-awesome-icon icon="fa-regular fa-handshake" size="2xl" />
              <p class="uppercase text-blue-700 text-sm">
                {{ $t("pages.account.nonprofit") }}
              </p>
            </router-link>
            <router-link
              to="#"
              class="flex-1 bg-white text-center rounded-lg shadow-md p-4 leading-12"
            >
              <font-awesome-icon
                icon="fa-regular fa-question-circle"
                size="2xl"
              />
              <p class="uppercase text-blue-700 text-sm">
                {{ $t("pages.account.educational") }}
              </p>
            </router-link>
            <router-link
              to="#"
              class="flex-1 bg-white text-center rounded-lg shadow-md p-4 leading-12"
            >
              <font-awesome-icon icon="fa-regular fa-user" size="2xl" />
              <p class="uppercase text-blue-700 text-sm">
                {{ $t("pages.account.private") }}
              </p>
            </router-link>
          </div>
        </div>
        <!-- End Right layout -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ValidationObserver, ValidationProvider } from "vee-validate";
import DashboardNavbar from "@/components/base/DashboardNavbar";
import { getAccount, updateAccount } from "@/services/AccountService";
import { Account } from "@/types";
import "@/common/vee-validate-rules";

export default Vue.extend({
  name: "AccountView",
  components: {
    DashboardNavbar,
    ValidationObserver,
    ValidationProvider,
  },
  data() {
    return {
      user: {} as Account,
      loading: false,
    };
  },
  created() {
    getAccount()
      .then((response) => {
        this.user = response;
      })
      .catch((err) => {
        console.log(err);
      });
  },
  methods: {
    submit(): void {
      this.loading = true;
      updateAccount(this.user)
        .then(() => {
          alert("Your data has been updated successfully");
        })
        .catch((err) => {
          console.log(err);
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
});
</script>
