<template>
  <div>You will be redirected in 1 second</div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions } from "vuex";

export default Vue.extend({
  name: "LoginView",
  created() {
    this.login()
      .then(() => {
        this.$router.push({
          name: "AccountView",
        });
      })
      .catch((err) => {
        console.log(err);
      });
  },
  methods: {
    ...mapActions("authModule", ["login"]),
  },
});
</script>
