<template>
  <select class="bg-white mx-3" v-model="$i18n.locale">
    <option v-for="(value, key) in locales" :key="key" :value="key">
      {{ value }}
    </option>
  </select>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "LocaleSwitcher",
  data() {
    return {
      locales: {
        en: "English",
        de: "Deutsch",
      },
    };
  },
});
</script>
