<template>
  <component :is="layout">
    <router-view :key="$route.path" />
  </component>
</template>

<script lang="ts">
import Vue from "vue";

const defaultLayout = "EmptyLayout";

export default Vue.extend({
  name: "App",
  computed: {
    layout(): string {
      return this.$route.meta?.layout || defaultLayout;
    },
  },
});
</script>
