<template>
  <div>
    <TheToolbar />
    <transition name="fade" mode="out-in" :duration="200">
      <slot />
    </transition>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import TheToolbar from "@/components/base/TheToolbar";

export default Vue.extend({
  components: {
    TheToolbar,
  },
  name: "DashboardLayout",
});
</script>
